<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <meta http-equiv="content-type"
      content="text/html; charset=utf-8">
   <title>Whatever</title>
   <style type="text/css">
<!--
html, body {
   font-family: sans-serif;
   font-size: 90%;
}
html, body, h1, h2, form, fieldset, ul, li {
   margin: 0;
   padding: 0;
}
div#header {
   padding: 0.3em 0;
   background-color: white;
   text-align: center;
}
div#container {
   margin: 1em auto;
   background-color: white;
   width: 60em;
}
div#footer {
   border-top: solid black 1px;
   margin: 1em 0;
   padding-top: 0.3em;
   background-color: white;
   text-align: center;
}

div.record {
   padding: 0.3em;
   float: left;
   background-color: white;
}
form {
  width: 19em; 
}
form fieldset {
  border: 1px solid #aaa;
  padding: 10px;
}
form label {
   display: block;
   float: left;
   width: 5em;
   margin: 5px 0.7em 0 0;
   text-align: right;
}
form input {
   display: block;
   float: left;
   width: 12em;
   margin: 2px 0;
   height: 1em;
}
div.center {
   clear: both;
   text-align: center;
}
form button {
   margin-top: 0.5em;
}

div.clearer {
   clear: both;
}

div#main {
   padding: 0.3em;
   padding-left: 21em;
}
ul {
   list-style: none;
}
li {
   display: inline;
}
div#main a, div#main a:visited, div#main a:hover {
   text-decoration: none;
   color: green;
   padding: 0.1em 0.2em;
}
div#main a:hover {
   color: white;
   background-color: green
}
table, tr, th, td {
   border-collapse: collapse;
   border: 1px solid #aaa;
}
th, td {
   padding: 0.1em 0.3em;
}
td.weight {
   text-align: right;
   font-family: monospace;
   font-weight: bold;
}
ul.weight li a, ul.weight li a:visited {
   margin: 0 -1px;
   text-decoration: none;
   color: maroon;
}
div#side {
   width: 20em;
   float:left;
}
.int-weight {
   font-size: 100%;
}
.half-kilo {
   font-weight: bold;
}
.tick {
   font-size: 70%;
   font-weight: bold;
   padding: 0;
}
input.weight {
   width: 3em;
}
div#chooser {
   padding: 0.3em;
   display: none;
   width: 12em;
   text-align: center;
   position: relative;
   left: 1.1em;
   top: -12px;
   border: 1px dotted #aaa;
   background-color: #fbfbfb;
}
div#shower {
   margin: 2px 0 0 0.5em;
   display: block;
   width: 1.1em;
   height: 1.1em;
   text-align: center;
   float: left;
}
div#shower a, div#shower a:visited {
   text-decoration: none;
   color: red;
}
ul.weight li a, ul.weight li a:visited {
   margin: 0 -1px;
   text-decoration: none;
   color: maroon;
}
#shower-char {
   font-family: monospace;
   text-align: center;
   margin: 0;
   padding: 0 2px;
   display: block;
}
-->
   </style>
   <script type="text/javascript">
<!--
   function toggle_weights() {
      var shower = document.getElementById('shower-char');
      var chooser = document.getElementById('chooser');
      if (chooser.style.display == 'block') {
         chooser.style.display = 'none';
         shower.innerHTML = '+';   
      }
      else {
         chooser.style.display = 'block';
         shower.innerHTML = '-';   
      }
      return false;
   }
   function set_weight(weight) {
      var element = document.getElementById('weight');
      element.value = weight;
      toggle_weights();
      return false;
   }
-->
   </script>
</head>
<body>
   <div id="container">
      <div id="header"><h1>Whatever You Weight!</h1></div>
      <div id="content"><% content %></div>
      <div id="footer">Powered by Dancer, DotCloud and Whatever!</div>
   </div>
</body>
</html>
